body {
background-color: #121212;
background-image: url(fon.png);
}
.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
 @font-face { font-family: Delicious; src: url('icescream.otf'); }
a { font-family: Delicious, sans-serif; }
.center2white {
font-size: 300%;
 border: 6px solid white;
 border-radius: 10px; 
    padding: 10px;
width:400px;
color: white;
}
.center2red {
font-size: 300%;
 border: 6px solid red;
 border-radius: 10px; 
    padding: 10px;
width:400px;
color: red;
}
a { 
    text-decoration: none;
   }
div1{
display: block;
  margin-top: 10%;
  margin-bottom: 3%;
}
div2{
display: block;
  margin-top: 3%;
  margin-bottom: 6%;
display:none; 
}
.vl {
    border-left: 10px dashed white;
    height: 150px;
    position: relative;
    margin-left: -5px;
left: 50%;
width:5px;
}